<!-- section for the experience -->
<section class="relative py-8 bg-dark dark:bg-light dark:text-dark text-light w-screen">
  <div class="container mx-auto space-y-5">
    <center class="text-light dark:text-dark font-bold text-2xl">
      <h4 class="font-bold text-2xl">Experiences</h4>
    </center>
  </div>
</section>

<section id="projects" class="w-screen flex flex-col space-y-4 py-6">
  <center class="relative">
    <p class="text-sm md:text-base">
      Over the years, I was excited to work for so many amazing brands and startups.
    </p>
  </center>

  <div class="w-full container flex flex-col space-y-4 mx-auto">
    {% include "experiences/htmx/list.html" %}
  </div>
</section>
